* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 242, 239);
}

/* Utilities */

tr,
table {
    width: 100%;
}

td {
    width: 30%;
    height: 50px;
    font-size: 20px;
}

.round-edges {
    border-radius: 20px;
}

.border {
    border: 1px solid rgb(155, 155, 155);
}

.btn:hover {
    opacity: 80%;
    cursor: pointer;
    border: 0;
    transition: transform 0.2s;
    transform: scale(1.05);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.wrap {
    flex-wrap: wrap;
}

.hide {
    display: none;
}

.dark-bg {
    background-color: rgb(0, 96, 151);
}

.light-bg {
    background-color: rgb(243, 242, 239);
}

.white-bg {
    background-color: white;
}

.black-text {
    color: black;
}

.light-txt {
    color: rgb(155, 155, 155);
}

.page-container {
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.title {
    width: 100%;
    font-weight: bold;
}

.text {
    width: 100%;
}
