.regular-btn {
    padding: 30px 20px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.regular-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-btn {
    height: 6vh;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.auth-button {
    width: 80%;
    height: 10%;
    border-radius: 50px;
    font-size: 20px;
}

.auth-switch-button {
    height: 100%;
    font-size: 15px;
}
